$green: #00db5f;
$red: #fd2c19;
$orange: #ff8939;
$black: #302c2e;
$bridal: #fff8ee;
$lightGrey: #ecebe5;
$grey: #827e79;
$lightBlue: #edf8fb;
$transition: all 0.15s ease;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@mixin tablet {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 992px) {
    @content;
  }
}
