header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
  font-family: "Montserrat";
  .header-nav {
    padding: 15px 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      width: 100px;
      img {
        width: 100%;
      }
    }
    &__menu-burger {
      display: flex;
      align-items: center;
      height: 20px;
      span {
        padding-right: 10px;
        text-transform: uppercase;
        font-weight: 700;
        color: black;
      }
      &__btn {
        height: 100%;
        width: 20px;
        position: relative;
        cursor: pointer;
        div {
          width: 100%;
          border: 1px solid $black;
          top: 8px;
          position: absolute;
          transition: all 0.3s ease;
        }
        &::before {
          content: "";
          width: 100%;
          border: 1px solid $black;
          top: 2px;
          position: absolute;
          transition: all 0.3s ease;
        }
        &::after {
          @extend .header-nav__menu-burger__btn::before;
          top: 14px;
        }
      }
      .open {
        div {
          opacity: 0;
        }
        &::before {
          transform: rotate(45deg);
          top: 8px;
        }
        &::after {
          transform: rotate(-45deg);
          top: 8px;
        }
      }
    }
  }
  .navbar {
    max-height: 0px;
    overflow: hidden;
    text-align: center;
    ul {
      padding-bottom: 20px;

      li {
        a {
          text-decoration: none;
          color: $black;
          font-weight: 600;
          font-size: 16px;
          line-height: 47px;
          transition: $transition;
          &:hover {
            color: $green;
          }
        }
      }
    }
    &.open {
      max-height: 100%;
    }
    .btn {
      margin-bottom: 20px;
    }
  }
  @include large {
    .header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header-nav {
      &__menu-burger {
        display: none;
      }
    }
    .navbar {
      max-height: 100%;
      ul {
        padding: 0;
        display: flex;
        li {
          padding: 0 10px;
        }
      }
      .btn {
        display: none;
      }
    }
  }
}
