.hero {
  margin-top: 100px;
  &__content {
    margin-bottom: 100px;
    h1 {
      font-size: 28px;
      line-height: 35px;
      font-family: "Poppins";
      font-weight: 600;
      @include desktop {
        font-size: 40px;
        line-height: 45px;
      }
    }
    p {
      font-size: 16px;
      line-height: 22px;
      font-family: "Open Sans";
      font-weight: 400;
      margin: 20px 0px;
    }
    &__downloads {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      &__download {
        display: flex;
        align-items: center;
        img {
          width: 130px;
          background-color: black;
          border-radius: 8px;
          padding: 0 3px;
          display: inline-block;
          border-radius: 5px;
          margin: 0px 5px;
          transition: $transition;
          &:hover {
            background-color: $green;
          }
        }
      }
    }
  }
  &__illustrations {
    position: relative;
    height: 300px;
    margin-bottom: 30px;
    &__illustration {
      position: absolute;
      &__bg {
        width: 512px;
        right: -300px;
        top: 0;
      }
      &__objects {
        width: 312px;
        top: -30px;
        right: 30px;
      }
      &__telephone {
        width: 150px;
        top: -30px;
        right: 100px;
      }
      &__carrot {
        width: 95px;
        top: 100px;
        right: 15px;
      }
    }

    img {
      width: 100%;
    }
  }

  @include tablet {
    &__content {
      max-width: 300px;
      z-index: 2;
    }
    &__illustrations {
      margin: 0px 0 200px;
      &__illustration {
        &__bg {
          width: 600px;
          right: -60px;
          top: 200px;
        }
        &__objects {
          width: 500px;
          top: 0px;
          right: 50px;
        }
        &__telephone {
          width: 250px;
          top: -90px;
          right: 150px;
        }
        &__carrot {
          width: 150px;
          right: 10px;
        }
      }
    }
  }
  @include desktop {
    margin: 160px 0 200px;
    display: flex;
    &__illustrations {
      &__illustration {
        &__bg {
          width: 800px;
          right: -700px;
          top: 300px;
        }
        &__objects {
          width: 500px;
          right: -300px;
          top: 100px;
        }
        &__telephone {
          width: 200px;
          top: 50px;
          right: -200px;
        }
        &__carrot {
          top: 200px;
          right: -340px;
        }
      }
    }
  }
  @include large {
    &__content {
      max-width: 50%;
      p {
        max-width: 80%;
      }
    }
    &__illustrations {
      width: 50%;
      &__illustration {
        &__bg {
          width: 1200px;
          right: -600px;
          top: 200px;
        }
        &__objects {
          right: 100px;
        }
        &__telephone {
          right: 250px;
        }
        &__carrot {
          right: 110px;
        }
      }
    }
  }
}
