.media__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  &__image {
    width: 130px;
    img {
      width: 100%;
    }
  }
  &__image--square {
    width: 60px !important;
  }
}
