.media {
  @include tablet {
    h2 {
      margin: 0 0 24px 0;
    }
  }
}

.media__images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  &__image {
    width: 130px;
    img {
      width: 100%;
    }
  }
  &__image--square {
    width: 60px !important;
  }
  @include tablet {
    margin: 24px 0 0 0;
  }

  @include desktop {
    &__image {
      width: 250px;
      &--square {
        width: 100px !important;
      }
    }
  }
}
