.reassurance {
  margin: 30px 0 0;
  background-color: $lightBlue;
  .container {
    padding: 0 40px;
  }
  &__images-row {
    display: flex;
    justify-content: center;
    &__image {
      width: 60px;
      img {
        width: 100%;
      }
    }
    &--desktop {
      display: none;
    }
  }
  h2 {
    margin: 20px 0 0;
    span {
      font-family: "Pacifico";
      color: $green;
      position: relative;
      img {
        position: absolute;
        width: 150px;
        bottom: -8px;
        left: -20px;
        transform: rotate(-2deg);
      }
    }
  }
  @include desktop {
    &__images-row {
      justify-content: space-between;
      &__image {
        width: 150px;
      }
      &--desktop {
        display: flex;
        justify-content: space-between;
      }
    }
    h2 {
      text-align: center;
      margin: 0 auto;
      width: 600px;
      span {
        font-size: 50px;
        img {
          width: 100%;
        }
      }
    }
  }
}
