.values {
  &__value {
    padding: 30px 15px 0px;
    margin: 0 30px;
    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
      font-size: 18px;
      img {
        max-width: 120px;
      }
    }
    .right {
      padding-left: 30px;
    }
    .left {
      padding-right: 30px;
    }
  }
  @include tablet {
    &__value {
      margin: 40px 100px;
    }
  }
}
