@import "config";
@import "header";
@import "hero";
@import "values";
@import "quality";
@import "recommandation";
@import "reviews";
@import "media";
@import "reassurance";
@import "footer";

body {
  color: $black;
  font-family: "Open Sans";
  overflow-x: hidden;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-family: "Poppins";
}

h3 {
  font-family: "Pacifico";
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

section {
  padding: 30px 0px;
}

.btn {
  background-color: $green;
  border: 2px solid $green;
  display: inline-block;
  border-radius: 8px;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  cursor: pointer;
  transition: $transition;
  font-size: 18px;
  padding: 10px 10px !important;
  &:hover {
    background-color: white;
    color: $green;
  }
}

.btn-center {
  margin-top: 30px;
  text-align: center;
}

.bottom__image-container {
  width: 100vw;
  img {
    width: 100%;
  }
  &--tablet,
  &--desktop {
    display: none;
  }
}
