*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
  font-family: "Montserrat";
}

header .header-nav {
  padding: 15px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-nav__logo {
  width: 100px;
}

header .header-nav__logo img {
  width: 100%;
}

header .header-nav__menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

header .header-nav__menu-burger span {
  padding-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

header .header-nav__menu-burger__btn {
  height: 100%;
  width: 20px;
  position: relative;
  cursor: pointer;
}

header .header-nav__menu-burger__btn div {
  width: 100%;
  border: 1px solid #302c2e;
  top: 8px;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .header-nav__menu-burger__btn::before, header .header-nav__menu-burger__btn::after {
  content: "";
  width: 100%;
  border: 1px solid #302c2e;
  top: 2px;
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .header-nav__menu-burger__btn::after {
  top: 14px;
}

header .header-nav__menu-burger .open div {
  opacity: 0;
}

header .header-nav__menu-burger .open::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

header .header-nav__menu-burger .open::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

header .navbar {
  max-height: 0px;
  overflow: hidden;
  text-align: center;
}

header .navbar ul {
  padding-bottom: 20px;
}

header .navbar ul li a {
  text-decoration: none;
  color: #302c2e;
  font-weight: 600;
  font-size: 16px;
  line-height: 47px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

header .navbar ul li a:hover {
  color: #00db5f;
}

header .navbar.open {
  max-height: 100%;
}

header .navbar .btn {
  margin-bottom: 20px;
}

.hero {
  margin-top: 100px;
}

.hero__content {
  margin-bottom: 100px;
}

.hero__content h1 {
  font-size: 28px;
  line-height: 35px;
  font-family: "Poppins";
  font-weight: 600;
}

.hero__content p {
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 20px 0px;
}

.hero__content__downloads, footer .download-btns {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content__downloads__download, footer .download-btns .download-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__content__downloads__download img, footer .download-btns .download-btn img {
  width: 130px;
  background-color: black;
  border-radius: 8px;
  padding: 0 3px;
  display: inline-block;
  border-radius: 5px;
  margin: 0px 5px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.hero__content__downloads__download img:hover, footer .download-btns .download-btn img:hover {
  background-color: #00db5f;
}

.hero__illustrations {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
}

.hero__illustrations__illustration {
  position: absolute;
}

.hero__illustrations__illustration__bg {
  width: 512px;
  right: -300px;
  top: 0;
}

.hero__illustrations__illustration__objects {
  width: 312px;
  top: -30px;
  right: 30px;
}

.hero__illustrations__illustration__telephone {
  width: 150px;
  top: -30px;
  right: 100px;
}

.hero__illustrations__illustration__carrot {
  width: 95px;
  top: 100px;
  right: 15px;
}

.hero__illustrations img {
  width: 100%;
}

@media (min-width: 576px) {
  .hero__content {
    max-width: 300px;
  }
  .hero__illustrations {
    margin: 0px 0 200px;
  }
  .hero__illustrations__illustration__bg {
    width: 600px;
    right: -60px;
    top: 200px;
  }
  .hero__illustrations__illustration__objects {
    width: 500px;
    top: 0px;
    right: 50px;
  }
  .hero__illustrations__illustration__telephone {
    width: 250px;
    top: -90px;
    right: 150px;
  }
  .hero__illustrations__illustration__carrot {
    width: 150px;
    right: 10px;
  }
}

@media (min-width: 768px) {
  .hero {
    margin: 160px 0 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__illustrations__illustration__bg {
    width: 800px;
    right: -700px;
    top: 300px;
  }
  .hero__illustrations__illustration__objects {
    width: 500px;
    right: -300px;
    top: 100px;
  }
  .hero__illustrations__illustration__telephone {
    width: 200px;
    top: 50px;
    right: -200px;
  }
  .hero__illustrations__illustration__carrot {
    top: 200px;
    right: -340px;
  }
}

.values__value {
  padding: 30px 15px 0px;
  margin: 0 30px;
}

.values__value__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  font-size: 18px;
}

.values__value__title img {
  max-width: 120px;
  height: 120px;
}

.values__value .right {
  padding-left: 30px;
}

.values__value .left {
  padding-right: 30px;
}

@media (min-width: 576px) {
  .values__value {
    margin: 40px 100px;
  }
}

@media (min-width: 768px) {
  .values__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 0 0;
  }
  .values__container .values__value {
    margin: 40px 0 0;
    width: 50%;
    text-align: center;
    padding: 0px 60px;
  }
  .values__container .values__value__title {
    display: block;
  }
  .values__container .values__value__title h3 {
    padding: 0;
  }
  .values__container .values__value__title img {
    display: block;
    margin: auto;
  }
}

.quality__title {
  text-align: left;
}

.quality__title span {
  font-family: "Pacifico";
}

.quality__illustration {
  max-width: 500px;
  height: 240px;
  position: relative;
  margin: 30px auto 50px;
  background-color: #fff8ee;
  padding: 20px 0px 30px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__illustration__image {
  margin-top: -40px;
}

.quality__illustration__image img {
  width: 100%;
}

.quality__illustration__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quality__illustration__items__item {
  width: 136px;
  height: 36px;
  background-color: #ecebe5;
  color: #827e79;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__illustration__items__item span {
  padding-left: 10px;
}

.quality__illustration__review {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -30px;
  background-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.24), 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.24), 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  color: #827e79;
  padding: 10px 15px 10px 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins";
}

.quality__illustration__review .chip {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.quality__illustration__review .red {
  background-color: #fd2c19;
}

.quality__illustration__review .orange {
  background-color: #ff8939;
}

.quality__content {
  display: none;
}

@media (min-width: 768px) {
  .quality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quality__title {
    margin: 0 0 20px;
  }
  .quality__title--mobile, .quality__text--mobile {
    display: none;
  }
  .quality__illustration {
    padding: 0 30px;
    margin: 0;
  }
  .quality__content {
    display: block;
  }
  .quality__content--nutrition {
    padding: 20px 0 30px 30px;
  }
  .quality__content--cosmetic {
    padding: 20px 30px 30px 0;
  }
}

.quality-nutrition .quality__illustration__image {
  width: 150px;
}

.quality-nutrition .quality__illustration__items {
  padding-left: 30px;
}

@media (min-width: 768px) {
  .quality-nutrition .quality__illustration__items {
    padding-left: 10px;
  }
}

.quality-nutrition .quality__illustration__items__item {
  border-radius: 20px 20px 20px 0px;
}

.quality-cosmetic .quality__illustration__image {
  width: 110px;
  margin-top: -70px;
}

.quality-cosmetic .quality__illustration__items {
  padding-right: 10px;
}

.quality-cosmetic .quality__illustration__items__item {
  border-radius: 20px 20px 0px 20px;
}

.recommandations {
  font-family: "Poppins";
}

.recommandations__slider__slider-content {
  width: 200%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.recommandations__slider__slider-content__recommandation {
  background-color: #edf8fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0px 30px;
  padding: 20px 0px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.28);
}

.recommandations__slider__slider-content__recommandation__product, .recommandations--desktop__recommandation__product {
  margin: 0px 5px;
  padding: 10px;
  position: relative;
  background-color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100px;
}

.recommandations__slider__slider-content__recommandation__product__image, .recommandations--desktop__recommandation__product__image {
  width: 73px;
}

.recommandations__slider__slider-content__recommandation__product__image img, .recommandations--desktop__recommandation__product__image img {
  width: 100%;
}

.recommandations__slider__slider-content__recommandation__product__image--cosmetic {
  width: 45px;
}

.recommandations__slider__slider-content__recommandation__product__content {
  font-size: 12px;
  color: #827e79;
}

.recommandations__slider__slider-content__recommandation__product__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recommandations__slider__slider-content__recommandation__product__check {
  position: absolute;
  top: -10px;
  right: -10px;
}

.recommandations__slider__slider-content__recommandation__product:first-child, .recommandations--desktop__recommandation__product:first-child {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.recommandations__slider__slider-content__recommandation__product:nth-child(3), .recommandations--desktop__recommandation__product:nth-child(3) {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.recommandations__slider__slider-content__recommandation__product__shadow {
  position: absolute;
  bottom: -20px;
  width: 82px;
}

.recommandations__slider__slider-content__recommandation__product__shadow img {
  width: 100%;
}

.recommandations__slider__slider-content__recommandation__product__shadow--bad {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.recommandations__slider__slider-content__recommandation__product__shadow--good {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.recommandations__slider__slider-content__recommandation__arrow {
  display: none;
}

.recommandations__slider__indicators, .reviews__slider-indicators {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recommandations__slider__indicators__indicator, .reviews__slider-indicators__indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid #ecebe5;
  margin: 0px 5px;
  cursor: pointer;
}

.recommandations__slider__indicators__indicator--full, .reviews__slider-indicators__indicator--full {
  background-color: #ecebe5;
}

@media (min-width: 576px) {
  .recommandations__slider__slider-content__recommandation__arrow {
    display: block;
    margin: 0 30px;
    font-size: 18px;
  }
}

.recommandations--desktop {
  display: none;
  background: url("../images/bg-wave-blue-light.svg") no-repeat center;
  background-size: cover;
}

.recommandations--desktop h2 {
  margin: 30px 0;
}

.recommandations--desktop__recommandation {
  width: 80%;
  margin: 0 auto 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recommandations--desktop__recommandation__product {
  width: 250px;
  border-radius: 8px;
}

.recommandations--desktop__recommandation__product__image {
  width: 150px;
}

.recommandations--desktop__recommandation__product__image img {
  width: 100%;
}

.recommandations--desktop__recommandation__product__image--cosmetic {
  width: 100px;
}

.recommandations--desktop__recommandation__product__content {
  color: #827e79;
  font-weight: 600;
}

.recommandations--desktop__recommandation__product__content div {
  font-weight: 400;
  font-size: 14px;
}

.recommandations--desktop__recommandation__product__check {
  width: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.recommandations--desktop__recommandation__product__shadow {
  width: 80%;
  position: absolute;
  bottom: -35px;
}

.recommandations--desktop__recommandation__product__shadow img {
  width: 100%;
}

.recommandations--desktop__recommandation__product__shadow--bad {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.recommandations--desktop__recommandation__product__shadow--good {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.recommandations--desktop__recommandation__arrow {
  width: 30px;
}

.recommandations--desktop__recommandation__arrow img {
  width: 100%;
}

@media (min-width: 768px) {
  .recommandations {
    display: none;
  }
  .recommandations--desktop {
    display: block;
  }
}

.reviews__number-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.reviews__number-users__number {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 30px;
  background-color: #787778;
  z-index: 0;
  margin: 0 5px;
  font-size: 36px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: white;
  border-radius: 5px;
}

.reviews__number-users__number span {
  position: relative;
  z-index: 2;
}

.reviews__number-users__number::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  top: -1px;
  background-color: #535353;
}

.reviews__number-users__number::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  background-color: #373234;
  bottom: -1px;
}

.reviews__number-users__number--separator {
  margin: 0px 20px 0px 5px;
}

.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0px;
}

.reviews__stars__star {
  width: 40px;
  margin: 0px 5px;
}

.reviews__stars__star img {
  width: 100%;
}

.reviews__notes {
  font-size: 25px;
  font-family: "Poppins";
  text-align: center;
}

.reviews__notes i {
  font-size: 10px;
}

.reviews__slider {
  position: relative;
  margin: 100px 0px 0px;
}

.reviews__slider__slider-content {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__slider__slider-content__item {
  width: 33%;
  background-color: white;
  position: relative;
  border-radius: 8px;
  text-align: center;
  padding: 70px 10px 10px;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.28);
  margin: 0 20px;
}

.reviews__slider__slider-content__item__image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  margin: auto;
  border: 10px solid white;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
}

.reviews__slider__slider-content__item__image img {
  width: 100%;
}

.reviews__slider__slider-content__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: -2;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.28);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.28);
  margin: auto;
}

.reviews__slider__slider-content__item__text {
  padding: 0 20px;
}

.reviews__slider__slider-content__item__text img {
  display: inline-block;
  margin: 0 0 5px;
}

.reviews__slider__slider-content__item__text .emoji {
  width: 14px;
  margin: 0;
}

.reviews__slider__slider-content__item__name {
  font-family: "Pacifico";
  color: #00db5f;
  display: inline-block;
  margin: 10px 0 0;
}

.reviews__slider__plante-1, .reviews__slider__plante-2, .reviews__slider__plante-3, .reviews__slider__nuage-beige-1, .reviews__slider__nuage-beige-2, .reviews__slider__nuage-beige-3, .reviews__slider__nuage-beige-4 {
  position: absolute;
}

.reviews__slider__plante-1, .reviews__slider__plante-3 {
  display: none;
}

.reviews__slider__plante-2 {
  width: 75px;
  right: 20px;
  bottom: -30px;
}

.reviews__slider__nuage-beige-1, .reviews__slider__nuage-beige-2, .reviews__slider__nuage-beige-3, .reviews__slider__nuage-beige-4 {
  z-index: -1;
}

.reviews__slider__nuage-beige-2, .reviews__slider__nuage-beige-3, .reviews__slider__nuage-beige-4 {
  width: 120px;
}

.reviews__slider__nuage-beige-1 {
  bottom: -40px;
}

.reviews__slider__nuage-beige-2 {
  top: -50px;
}

.reviews__slider__nuage-beige-3 {
  top: -150px;
  left: 150px;
}

.reviews__slider__nuage-beige-4 {
  top: -100px;
  left: 300px;
}

.reviews__slider-indicators {
  margin-top: 40px;
}

.media__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.media__images__image {
  width: 130px;
}

.media__images__image img {
  width: 100%;
}

.media__images__image--square {
  width: 60px !important;
}

.reassurance {
  margin: 30px 0 0;
  background-color: #edf8fb;
}

.reassurance .container {
  padding: 0 40px;
}

.reassurance__images-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reassurance__images-row__image {
  width: 60px;
}

.reassurance__images-row__image img {
  width: 100%;
}

.reassurance__images-row--desktop {
  display: none;
}

.reassurance h2 {
  margin: 20px 0 0;
}

.reassurance h2 span {
  font-family: "Pacifico";
  color: #00db5f;
  position: relative;
}

.reassurance h2 span img {
  position: absolute;
  width: 150px;
  bottom: -8px;
  left: -20px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

footer {
  padding: 30px 0 0;
}

footer .logo {
  width: 125px;
  margin: 0 auto;
}

footer .logo img {
  width: 100%;
}

footer .download-btns {
  margin: 10px 0 0;
}

footer .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 30px;
}

footer .footer-items__item {
  width: 50%;
}

footer .footer-items__item h4 {
  font-size: 18px;
  margin: 0 0 20px;
  color: #00db5f;
}

footer .footer-items__item a {
  display: block;
  color: #827e79;
  text-decoration: none;
  margin: 0 0 10px;
}

footer .footer-items__item a:hover {
  text-decoration: underline;
}

footer .footer-items__item--languages {
  margin: 0 0 5px !important;
  cursor: pointer;
}

footer .footer-items__item .open {
  display: block;
}

footer .footer-items__item ul {
  display: none;
  background-color: #ecebe5;
  width: 100px;
  border-radius: 8px;
  padding: 10px 0;
  font-weight: bold;
  color: #00db5f;
}

footer .footer-items__item ul li {
  padding: 3px 10px;
  cursor: pointer;
}

footer .footer-items__item ul li:hover {
  background-color: #00db5f;
  color: white;
}

@media (min-width: 576px) {
  footer .footer-items {
    max-width: 400px;
    margin: 30px auto;
  }
}

body {
  color: #302c2e;
  font-family: "Open Sans";
  overflow-x: hidden;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-family: "Poppins";
}

h3 {
  font-family: "Pacifico";
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

section {
  padding: 30px 0px;
}

.btn {
  background-color: #00db5f;
  border: 2px solid #00db5f;
  display: inline-block;
  border-radius: 8px;
  color: white;
  font-family: "Montserrat";
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  font-size: 18px;
  padding: 10px 10px !important;
}

.btn:hover {
  background-color: white;
  color: #00db5f;
}

.btn-center {
  margin-top: 30px;
  text-align: center;
}

.bottom__image {
  display: block;
  width: 100vw;
}

.bottom__image img {
  width: 100%;
}

.bottom__image--tablet, .bottom__image--desktop {
  display: none;
}

@media (min-width: 576px) {
  .bottom__image--mobile {
    display: none;
  }
  .bottom__image--tablet {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */